.container {
  padding-left: 15px;
  padding-right: 15px;
}

.large {
  font-size: 168px;
}

.medium {
  font-size: 72px;
}

h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
  text-align: center;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(86,61,124,.15);
  border: 1px solid rgba(86,61,124,.2);
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

#init {
  position: absolute;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  z-index: 1000;
}

.img-responsive {
  display: block;
  margin-left: auto;
  margin-right: auto
}